<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: title }) %>
  <body>
    <div class="container">
      <section class="section">
        <h1 class="title is-1 has-text-centered"><%= title %></h1>

        <% tasks.forEach((task) => { %>
        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= task.title %></strong>
                  <br />
                  <%= task.description %>
                  <br />
                  <small><%= task.urgency %></small>
                </p>
              </div>
            </div>
          </article>
        </div>
        <% }); %>
      </section>
    </div>
  </body>
</html>
